@use "../abstracts/mixins";
@use "../abstracts/reset";
@use "../abstracts/colors";


.title__collection {
    display: flex;
    justify-content: center;
    padding: 0.3%;
    height: 2rem;
    font-size: 2.6rem;
    position: relative;
    z-index: 1;
    @include mixins.ubuntu-font;
  }
  
  .fa-spotify {
    font-size: 3.5rem;
  }
