//Main Style colors

$yellow: (
   background: #F7FD04,
);

$orange: (
    background: #F9B208,
    
);

$dark-orange: (
    background: #F98404,
);

$red: (
    background: #FC5404,
);

$gradientOrangeRed: (
    background: linear-gradient(#F9B208, #FC5404),
);

//Text Colors

$black: (
    color: #191414,
);


$white: (
    color: #ffff
);


//Extra Colors

$green: (
   background: #1DB954,
);

$black: (
    background: #191414,
);

$gray: (
    background: gray,
);

$gradient-black-green: (
    background: linear-gradient( #1DB954 ,#191414),
);

$gradient-green-black: (
    background: linear-gradient(#191414, #1DB954),
);

$gradient-3-black-green: (
    background: linear-gradient(#191414, #1DB954,#191414),
);

$gradient-3-green-black: (
    background: linear-gradient(#1DB954, #191414,#1DB954),
);


$gradient-3-green-black-lighter: (
    background: linear-gradient(#242020, #242020,#242020),
);

