@mixin ubuntu-font{
    font-family: 'Ubuntu', sans-serif;
}


@mixin border-all-radius{
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}